/* AUTHOR your CSS Styles Here */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #662549;
  padding: 0 clamp(0.5rem, 5vw, 2rem);
  /* background-image: linear-gradient( to bottom right, lightblue, blue); */

}

/* ---------------> DARK/LIGHT TOGGLE BUTTON <-------------*/

/* Toggle Container */
.toggle-container {
  position: fixed;
  top: -1rem;
  right: 0;
  margin: 1rem;
  z-index: 1000;
}

.btn {
  display: flex;
  margin: 2rem auto;
  width: 5.5rem;
  height: 2.4rem;
  padding: 0.2rem 0.2rem;
  background: #fff;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  position: relative;
}

/* toggle indicator */

.btn_indicator {
  background: black;
  width: 2rem;
  height: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
  position: absolute;
}

.btn_icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform .9s ease-in-out;
}

.btn_icon {
  font-size: 1em;
  color: aquamarine;
}

/* Toggle dark mode  */

.darkmode .btn_indicator {
  transform: translateX(3em);
  background-color: white;
}

body.darkmode {
  background-color: #451952;
}

.darkmode .btn_icon {
  color: pink;
}

.darkmode button {
  color: #29A8FF;
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.darkmode .container{
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
}
.darkmode footer{
  color:#29A8FF;
  font-weight: 800;
}

button {
  /* width: 2.5rem; */
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}



/* utility classes */
/* .btn-operator {
  background-color: lightblue ;
  color: lightsteelblue;
}
.btn-number,
.btn-operator2 {
  background-color: lightblue;
  color: #fff;
}
.btn-operator1 {
  background-color: lightskyblue;
  color: royalblue;
}
.btn-equal {
  background-color: royalblue;
  color: lightgrey;
}
p {
  color: lightblue;
}
p span {
  color: lightskyblue;
} */


/* light theme */
/* .calculator {
  background-image: linear-gradient( to bottom right, blue, lightblue);
}
 */

/* display color */
.calculator #display {
  color: #0a1e23;
}

.container {
  max-width: 20rem;
  display: flex;
  margin: 2rem auto;
  padding: 1rem 0;
  flex-direction: column;
  /* To center vertically */
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
  background: linear-gradient(167.27deg, #F7F8FB -5.94%, rgba(247, 248, 251, 0.19) 103.62%);
  border-radius: 12px;
}


.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px lightskyblue;
}


/* toggle icon */
/* .theme-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
} */
/* 
.theme-toggle.active {
  color: #333;
} */

/* .theme-toggle.active::before {
  background-color: #fff;
} */

/* .theme-toggle::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
} */



#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 15px;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}